/* Banner part starts */
header {
    margin: 0 auto;
    max-width: 1550px;
    width: 90%;
    margin-top: 70px;


}

.banner-image-and-text-container {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 1550px;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.banner-image{
             
            
}

.new-year-title {
    position: absolute;
    align-items: center;
    text-align: center;
    align-items: center;
   
}

.new-year-celebration{
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    
    
}

.new-year-subtitle{
    font-size:75px ;
    font-weight: 600;
    color: #FFFFFF;
   text-align: center;
   align-items: center;
   
   
}

/* discount part starts */

.discount-part-container{
    text-align: center;
    align-items: center;
    margin-bottom: 120px;
}

.discount-off{
    margin-top: 120px;
     font-size: 88px;
     font-weight: 700;
     color: #FF0000;
}

.deals-are-better{
    font-size: 25px;
    color:#FF0000 ;
    margin-bottom: -30px;
}

.all-catagories{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}

.new-year-photo{
    width: 800px;
    height: 500px;
}

/* victory starts */


.midnight-party-data-container{
margin: 0 auto;
max-width: 1550px;
width: 90%;

justify-content: center;
position: relative;
display: flex;
}

.midnight-party-text-container{
    position: absolute;
    padding-right: 500px;
    padding-top: 50px;
}

.vector-image{
    width: 	1320px;
    height: 550px;
}

.midnight-party-title{
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: -10px;
}

.midnight-party-sub-title{
    color:rgba(255, 255, 255, 0.8);
}

.midnight-party-btn{
    font-size: 20px;
    border: none;
    background: none;
    color: #FFFFFF;
    margin-top: 70px;
}

.midnight-second-pic{
    width: 300px;
    height: 440px;
}

.midnight-second-pic-container{
    position: absolute;
    margin-top: 65px;
    margin-left: 850px;
    margin-right: 150px;
}

.place-time-and-btn-container{
    margin: 0 auto;
    height: 382px;
    width: 1320px;
    max-width: 1550px;
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    align-items: center;
    text-align: center;
    padding-top: 100px;
    margin-top: 100px;
    border-radius: 16px;
}

.place-date-time{
    color: #FF0000;
}

.place-time-title{
    font-size: 32px;

}

.join-now-btn{
    width: 165px;
    height: 56px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #FF0000;
    color: #FFFFFF;
    margin-top: 45px;
}

/* coming soon starts */

.coming-soon-image-and-text-container{
    width: 90%;
    max-width: 1550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.best-offer-title{
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
}

.coming-soon-title{
    font-size: 48px;
    font-weight: 700;

}

.coming-soon-sub-title{
    color: rgba(7, 2, 17, 0.6);
}

.ellipse-image{
    padding: 20px;
}

.ellipse-image-border{
    border: 10px solid red;
    border-radius: 99%;
   
}

.chobbish-title{
    font-size: 48px;
    font-weight: 700;
    color: red;
}

.new-year-chobbish{
    width: 140px;
    height: 140px;
}

.coming-soon-first-div{
    width: 430px;
    padding-left: 150px;
}

/* Special deal starts */

.special-deal-all-data-container{
    margin: 0 auto;
    width: 90%;
    max-width: 1550px;
    text-align: center;
    align-items: center;
}
 
.functional-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -50px;
}

.holiday-title{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: -5px;

}

.holiday-span{
    color: #FF0000;
}

.holiday-sub-title{
    font-size: 20px;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 50px;
}

.Rectangle-image-container{
    margin: 0 auto;
    width: 90%;
    max-width: 1550px;
    text-align: center;
    align-items: center;
    margin-top: 500px;
    display: flex;
    position: relative;
    justify-content: center;
}

.Rectangle-red-image{
    width: 100%;
    height: 230px;
}
.two-images-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-bottom: 420px;
  gap: 70px;
}

.surprise-box{
    width: 674px;
    height: 570px;
    
}

.discont-coupon{
    width: 305px;
    height: 305px; 
}

/* Best gift starts */

.best-gift-and-images-container{
    margin: 0 auto;
    width: 90%;
    max-width: 1550px;
    margin-top: 110px;
}

.best-gift-title{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.awesome-portfolio-title{
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
}

.awesome-portfolio-sub-title{
    margin-top: -20px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
}

.Rectangle-images-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.Rectangle-images{
    width: 550px;
    height: 450px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1550px;
}

/* subscribe part starts */

.subscribe-and-details{
    margin: 0 auto;
    width: 80%;
    max-width: 1550px;
    background-color: #FEF2FF;
    align-items: center;
    text-align: center; 
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
    margin-top: 100px;
}

.subscribe-title{
    font-size: 48px;
    font-weight: 700;
}

.subscribe-sub-title{
    font-size: 20px;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
}

.email{
    width: 650px;
    height: 5px;
    border:none;
    border-radius: 40px;
    padding: 30px;
    margin-bottom: 50px;
}

/* footer starts */
footer{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(7, 2, 17, 1);
    height: 600px;
}

.footer-all-data-container{
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 1550px;
    justify-content: space-between;
}

.big-buildings-title{
   
}

.building-title-text{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin-left: -100px;
    padding-top: 60px;
}

.phone-number-and-website{
    color: #FFFFFF;
    
}

.icons-and-number-and-website{
    
}

.icon-number-one{
    width: 20px;
    height: 20px;
    padding-top: 20px;
}

/* .hr-class{
    width: 90%;
    margin: 0 auto;
    height: 1%;
} */
 hr{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .all-icons-container{
    margin: 0 auto;;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    
 }

 .icons-images{
    width: 64px;
    height: 64px;
    gap: 20px;
    margin: 10px;
 }

 .hr-class-two{
    margin-top: 45px;
 }

 .Unsubscribe-part{
    margin: 0 auto;
    width: 85%;
    max-width: 1550px;
    display: flex;
    justify-content: space-between;
 }

 .Unsubscribe-title{
   color: #FFFFFF;
   font-size: 24px;
   font-weight: 600;
   margin-top: 50px;
   margin-left: -75px;
   
 }